@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Source+Sans+3:wght@400;500;700;900&display=swap');
body {
  color: #fff;
  background: #26262b;
  font-family: 'Noto Sans JP', sans-serif;
}

.slider {
  margin: 0 auto;
}
.slider img {
  width: 100%;
  height: auto;
}

.slider-dots {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  margin: -20px 0 0;
}
.slider-dots li {
  display: inline-block;
  width: calc(25% - 4px);
  margin: 0 2px;
}
.slider-dots button {
  position: relative;
  width: 100%;
  height: 4px;
  border: 0;
  background-color: #ccc;
  font-size: 0;
}
.slider-dots button:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 0%;
  height: 100%;
}
.slider-dots .slick-active button:after {
  background-color: #000;
  -webkit-animation: progress 5.5s linear forwards;
  animation: progress 5.5s linear forwards;
}

@-webkit-keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes demo-1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes demo-1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes demo-1 {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
