@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: #f3f5f4;
  font-family: "Noto Sans JP", sans-serif;
}

body .hero {
  overflow: hidden;
  position: relative;
  height: calc(50vh + 80px);
  height: 100vh;
}
